
body {
font-family: sans-serif;
margin: 0 auto;
padding: 25px;
width: 100%;
height: 100%;
background-color: #dfe6e9;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

.heading {
text-align: center;
font-size: 2em;
color: #2d3436;
margin: 20px 0 30px;
}

.card {
border-radius: 25px;
position: relative;
padding: 25px 15px;
width: 390px;
background-color: white;
margin: 50px 0;
height: 230px;
box-shadow: 0 2px 5px #ccc;
text-align: left;
}

.toP {
border-radius: 25px ;
height: 80px;
width: 100%;
background-image: url("./image/modalhead.png");
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: center ;
align-items: center;
gap: 10px;
}

.name {
font-size: 1.3em;
color: white;
margin-bottom: 0%;  

}


.circle-img {
border-radius: 50%;
border: 2px solid #fff;
width: 55px;
height: 55px;
display: flex;
justify-content: center;
align-items: center;
}

.bottoM {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 60px;
}

.info {
color: black;
font-size: 14px;
}

.envelope-logo {
width: 45px;
height: 45px;
}

.otpbox {
background-color: #f1f1f1;
}

.sign-btn{
background-color:rgb(20, 121, 20) ;
border-radius: 20px;
padding-left: 30px;
padding-right: 30px;
font-size: 12px;
border: none;
font-weight: 600;
margin-top: 10px !important;
}

.userInput {
    font-size: 12px;
}
