body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.container-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    height: 100vh;
}


.holder {
    position: relative;
    width: 485px; 
    height: 550px; 
}

.bottom {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 30px;
    background-image: url(image/abmg.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    position: absolute; 
    top: 0;
    left: 0;
}

.tran {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 100, 0, 0.6);
    z-index: 2; 
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.texts {
    font-size: 2rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -140px;
}

.para {
    color: white;
    font-weight: 400;
    text-decoration: none;
}

.btn-reg{
    background-color: rgba(17, 143, 17, 0.7);
    padding: 10px 50px;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.btn-regs {
    margin-top: 30px;
}

.btn-reg:hover {
    background-color: rgba(112, 190, 112, 0.7);
}

.paralink {
    color: white;
    font-size: 15px;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

.top {
    width: 365px;
    height: 450px;
    background-color: white;
    z-index: 3;
    margin-left: 10px;
    position: relative;
    left:40px;
    border-radius: 30px;
    border: 1px solid #555555;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.top-sign{
    left: 0 !important;
    margin-left: -40px!important;
    
}

.emaillabel {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.forg-cont > p {
   font-size: 14px !important;
   font-weight: 600
}

.forg {
    margin-bottom: 25px
}

.cont-sign{
    margin-bottom: 0 !important;
}

.up {
    margin-top: 70px !important;
}

.upicon{
    margin-top: -10px;
    margin-bottom: 25px;
}

.email{
    display: flex;
    flex-direction: column;
}


.email > input {
    border-radius: 10px;
    height: 50px;
    border: none;
    background-color: #f1f1f1;
}

.head-sign {
    margin-top: 30px;
    margin-bottom: 30px;
    color: darkgreen;
    font-weight: 700;
    font-size: 1.8rem;
}

.reg-cont{
    display: flex;
    justify-content: center;
}

.forgot-cont{
    text-decoration: none;
}

.reg-sign {
    background-color: darkgreen !important;
    padding: 10px 40px !important;
}

.forgot {
    text-align: center;
    font-size: 15px;
    color: #333333;
}

.phone {
    display: flex;
  justify-content: center;
  align-items: center;
    padding: 0 !important;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    border: 1 solid #555555 !important;
    background-color: white;
}

.icons {
    display: flex;
    justify-content: center;
    gap:10px
}

.email-cont{
    margin-bottom: 30px;
}

.icon-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;    
    margin-bottom: 20px;
}

.email > input::placeholder {
   padding-left: 10px;
}

.form-container{
    width: 70%;
}
