/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

.modal-content-login {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.modCon {
  background-color: transparent;
  border: none;
}

.otpDiv {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: white;
  padding-bottom: 30px;
  border-radius: 25px;
  padding-left: 0;
  padding-right: 0;
  box-shadow: rgba(255, 255, 255, 0.774) 0px 0px 60px -12px, rgba(0, 0, 0, 0.3) 0px 0px 36px -18px;

}


.top-container {
  position: relative;
  left: 20px;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 310px;
  background-color: white;
  padding: 30px 20px;
  color: darkgreen;
  border-radius: 25px;
  font-family: sans-serif;
  border: 1px solid gainsboro;
  box-shadow: rgba(255, 255, 255, 0.774) 0px 0px 60px -12px, rgba(0, 0, 0, 0.3) 0px 0px 36px -18px;
}

.bottom-container {
  position: relative;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 380px;
  background-image:  url("./images/cemeterybackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 85px 60px;
  padding-bottom: 20px;
  color: white;
  border-radius: 25px;
  font-family: sans-serif;
  box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
}

.botTop-tab {
  display: flex !important;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  
}

.topS-container {
  position: relative;
  right: 20px;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 310px;
  background-color: white;
  padding: 30px 20px;
  color: darkgreen;
  border-radius: 25px;
  font-family: sans-serif;
  border: 1px solid gainsboro;
  box-shadow: rgba(255, 255, 255, 0.774) 0px 0px 60px -12px, rgba(0, 0, 0, 0.3) 0px 0px 36px -18px;
}

.botS-container {
  position: relative;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 380px;
  background-image:  url("./images/cemetery\ background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 85px 60px;
  padding-bottom: 20px;
  color: white;
  border-radius: 25px;
  font-family: sans-serif;
  box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
}

.top-container > form {
 width: 90%;
}

.botS-container > h2 {
  text-align: center;
}


.bottom-container > h2 {
  text-align: center;
}

.forgot {
  color: black;
  text-decoration: none;
  text-align: center;
}

.top-container > form > .clearfix {
  display: flex;
  justify-content: center;
}

.botS-container > a {
  color: white;
  text-decoration: none;
  
}

.bottom-container > a {
  color: white;
  text-decoration: none;
  
}

.get {
  margin-top: 100px;
}

.got {
  font-size: 12px;
  font-weight: 500;
}

.icons {
  display: flex;
  justify-content: center;
  gap:10px
}

.upicon{
  margin-top: -10px;
  margin-bottom: 25px;
}

.phone {
  display: flex;
justify-content: center;
align-items: center;
  padding: 0 !important;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: 1 solid #555555 !important;
  background-color: white;
}

.formCont {
  height: 45px !important;
  font-size: 12px;
  background-color: #f1f1f1;
  border-radius: 7px;
  width: 100%;
}

.sign-btn{
  background-color:rgb(20, 121, 20) ;
  border-radius: 20px;
  padding: 10px 40px;
  border: none;
  font-weight: 600;
}

.btn-transfarency {
  background-color: hsla(120, 100%, 20%, 0.7);
}

/*modal*/

.heading {
  text-align: center;
  font-size: 2em;
  color: #2d3436;
  margin: 20px 0 30px;
  }
  
  .carD {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  width: 100%;
  background-color: white;
  margin: 50px 0;
  height: 230px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  }
  
  .toP {
  border-radius: 20px ;
  height: 95px;
  width: 100%;
  background-image: url("./images/modalhead.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute;
  top: 0;
  left: 0; */
  display: flex;
  justify-content: center ;
  align-items: center;
  gap: 10px;
  }

  .mails {
    text-align: center;
    color: #555555;
  }
  
  .name {
  font-size: 2.5em;
  color: white;
  margin-bottom: 0%; 
  margin-left: 5px; 
  text-align: center;
  }
  
  
  .circle-img {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 78px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .bottoM {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  }
  
  .info {
  color: black;
  font-size: 18px;
  }

  .infO {
    color: darkgreen;
  }
  
  .envelope-logo {
  width: 70px;
  height: 70px;
  }
  
  .otpbox {
  background-color: #f1f1f1;
  height: 70px !important;
  
  }
  
 
  
  .userInput {
      font-size: 12px;
  }

  .inpuT {
    height: 48px;
    background-color: #f1f1f1;
  }

  .labeL {
    margin-bottom: 0;
    margin-top: 5px;
  }

  .modBod {
    padding-top: 80px;
  }

  .modTop {
    width: 100%;
    height: 100%;
    background-color: blue;
  } 

  /* .back {
    background-color: transparent;
    color: transparent;
    border: none;
  }

  .enter {
    background-color: transparent;
    color: transparent;
    border: none;
  } */

@media (max-width: 990px) {

    .modal-content-login {
      flex-direction: column;
      align-items: center;
    }

    .top-container {
     position: relative;
     top: 100px;
     left: 1px;
    }

    .bottom-container {
      justify-content: flex-end;
      padding-top: 250px;
      padding-bottom: 30px;
      bottom: 110px;
      width: 350px;
    }

    .botTop-tab {
      flex-direction: column;
      align-items: center;
    }

    .topS-container {
      position: relative;
      top: 100px;
      left: 1px;
     }
 
     .botS-container {
       justify-content: flex-end;
       padding-top: 250px;
       padding-bottom: 30px;
       bottom: 110px;
       width: 350px;
     }

    .get {
      margin-top: 10px;
    }

     
   .btn-transfarency {
   margin-top: 10px !important;
   }

}