
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(243, 247, 240);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  text-align: left;
}

.icons {
  font-size: 40px;
}

.nav-link
{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.carousel-item 
{
    position: relative;
    height: 40vh;
    overflow: hidden;
}

.carousel-item img 
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    width: auto;
    filter: opacity(60%);
}

.carousel-caption 
{
  position: absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.carousel-caption p
{
    color: white;
    font-size: 100px;
}

#owl-demo .item{
  padding: 30px 0px;
  margin: 20px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

#owl-demo img 
{
  filter: opacity(30%);
}

.footer {
    position: relative;
    background-image: url('IMG_1410.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 1rem 0;
  }

  .footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
  }

  .footer .container {
    position: relative;
    z-index: 2;
  }

  .footer .text-center {
    position: relative;
    z-index: 2;
    color: rgb(0, 49, 0);
  }

  .footer .btn {
    background-color: #54456b;
  }

  .footer .text-center h1 {
    margin: 0;
    font-size: 1.2rem;
    color: rgb(0, 49, 0);
  }

  .icon
  {
    color: #000000;
  }

  .title img
  {
    height: 100px;
    width: 100px;
  }

  .img-container
  {
    text-align: center;
  }

  .centered-image
{
    display: inline-block;
    max-width: 100%;
}

.header-title
{
    text-align: center;
    color: rgb(0, 49, 0);
    padding: 0;
    margin: 0;
}

.header-subtitle
{
    text-align: center;
    color: rgb(130, 80, 14);
    padding: 0;
    margin: 0;
}

.head-title hr
{
    padding: 0;
    margin: 5px;
}

.banner
{
  position: relative;
  height: 40vh;
  overflow: hidden;
}

.banner img
{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  width: auto;
  filter: brightness(30%);
  width: 100%;
}

.banner .card-img-overlay
{
  position: absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.banner .card-img-overlay p
{
    color: white;
    font-size: 100px;
}

.footer-title
{
    position: relative;
    text-align: center;
    color: rgb(0, 49, 0);
    z-index: 2;
}

.footer-subtitle
{
    position: relative;
    text-align: center;
    color: rgb(130, 80, 14);
    z-index: 2;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header {
    padding: 5px !important;
  }
  .icons {
    font-size: 30px;
  }
  .nav-link {
      font-size: 20px;
      padding: 0;
  }
  .navbar-toggler {
    padding: 0;
    margin: 0;
  }
  .img-container img {
    height: 50px;
    width: 50px
  }
  .header-title, .header-subtitle, .footer-title, .footer-subtitle {
      font-size: 15px;
  }
  .carousel-item 
  {
    position: relative;
    height: 20vh;
    overflow: hidden;
  }

  .carousel-item img 
  {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    width: auto;
    filter: opacity(60%);
  }
  .footer {
      padding: 0.5rem 0;
  }
  .footer::before {
      background: rgba(255, 255, 255, 0.5);
  }
  .icon {
      font-size: 20px;
  }
  .centered-image {
      height: auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .nav-link {
      font-size: 15px;
      padding: 0;
  }
  .header-title, .header-subtitle, .footer-title, .footer-subtitle {
      font-size: 22px;
  }
    .carousel-item 
  {
      position: relative;
      height: 30vh;
      overflow: hidden;
  }

  .carousel-item img 
  {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 100%;
      width: auto;
      filter: opacity(60%);
  }

  .carousel-caption 
  {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  .carousel-caption p
  {
      color: white;
      font-size: 60px;
  }
  .footer {
      padding: 0.75rem 0;
  }
  .icon {
      font-size: 24px;
  }
}

@media (min-width: 1025px) {
  .nav-link {
      font-size: 20px;
  }
  .header-title, .header-subtitle, .footer-title, .footer-subtitle {
      font-size: 26px;
  }
  .carousel-item 
  {
      position: relative;
      height: 30vh;
      overflow: hidden;
  }

  .carousel-item img 
  {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 100%;
      width: auto;
      filter: opacity(60%);
  }

  .carousel-caption 
  {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  .carousel-caption p
  {
      color: white;
      font-size: 70px;
  }
  .footer {
      padding: 1rem 0;
  }
  .icon {
      font-size: 28px;
  }
}