
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(243, 247, 240);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  text-align: left;
  
}

.icons {
  font-size: 40px;
}

.nav-link
{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.carousel-item 
{
    position: relative;
    height: 40vh;
    overflow: hidden;
}

.carousel-item img 
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    width: auto;
    filter: opacity(60%);
}

.carousel-caption 
{
  position: absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.carousel-caption p
{
    color: white;
    font-size: 100px;
}

#owl-demo .item{
  padding: 30px 0px;
  margin: 20px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

#owl-demo img 
{
  filter: opacity(30%);
}

.footer {
    position: relative;
    background-image: url('IMG_1410.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 1rem 0;
  }

  .footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
  }

  .footer .container {
    position: relative;
    z-index: 2;
  }

  .footer .text-center {
    position: relative;
    z-index: 2;
    color: rgb(0, 49, 0);
  }

  .footer .btn {
    background-color: #54456b;
  }

  .footer .text-center h1 {
    margin: 0;
    font-size: 1.2rem;
    color: rgb(0, 49, 0);
  }

  .icon
  {
    color: #000000;
  }

  .title img
  {
    height: 100px;
    width: 100px;
  }

  .img-container
  {
    text-align: center;
  }

  .centered-image
{
    display: inline-block;
    max-width: 100%;
}

.header-title
{
    text-align: center;
    color: rgb(0, 49, 0);
    padding: 0;
    margin: 0;
}

.header-subtitle
{
    text-align: center;
    color: rgb(130, 80, 14);
    padding: 0;
    margin: 0;
}

.head-title hr
{
    padding: 0;
    margin: 5px;
}

.banner
{
  position: relative;
  height: 40vh;
  overflow: hidden;
}

.banner img
{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  width: auto;
  filter: brightness(30%);
  width: 100%;
}


.banner .card-img-overlay
{
  position: absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: auto;
}

.banner .card-img-overlay p
{
    color: white;
    font-size: 100px;
}

.footer-title
{
    position: relative;
    text-align: center;
    color: rgb(0, 49, 0);
    z-index: 2;
}

.footer-subtitle
{
    position: relative;
    text-align: center;
    color: rgb(130, 80, 14);
    z-index: 2;
}

/* landing body */

.body-img {
  padding: 20px;
}

.line {
  width: 200px;
  height: 3.5px;
  background-color: darkgreen;
  margin-bottom: 10px;
}

.body-title {
  font-size: 2.3rem;
  width: 600px;
}

.body-text {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.body-button {
  padding: 10px 35px;
  border-radius: 2px !important;
}

/* lawnslot */

.top {
  display: flex;
  align-items: center;
  margin: 32px 10px 17px;
  padding: 30px 94px;
  width: 90%;
  border-radius: 26px;
  border: 2px solid rgb(168, 166, 166);
  text-align: center;
}


.row .top p {
  font-size: 24px;
  line-height: 26px;
  /* padding-bottom: 15px; */
  margin-bottom: 0;
}

.img-thumbnail {
  object-fit: cover;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.image-grid {
  --gap:16px;
  --num-cols:2;
  --row-height:300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols),1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  

  width: 80%;
  margin-bottom: 20px;
}

.image-grid > img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first {
  grid-area: 1/1/3/3;
}

.second {
  border-bottom: 2px solid #222222;;
}

.last {
  grid-area: 2/3/3/4;
}

.lawnpic {
  border: 2px solid #222222;
  
}

.picsoflawn{
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
 }

 .dropdown-menu {
  background-color: rgba(38, 65, 28, 0.719);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  border: none;
 }

  .drop-items {
    text-align:left !important;
    margin-top:2px;
    padding-bottom:0 !important;
    padding-left:15px !important;
  }

  .drop-text {
    font-size:12px;
    margin:0;
    background:white;
    padding-bottom:5px;
    padding-left:20px;
    width:250px;
  }

 .dropdown-menu .dropdown-item {
  background-color: white;
  padding: 10px 50px;
  margin-top: 1px;
  text-align: center;

}

.drop-bi {
  background:white;
  height:57px;
  margin-top:2px;
  padding-left:6px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-notif {
  background-color: rgba(249, 253, 255, 0.919);
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  height: max-content;
  width:max-content;
}

.dropdown-item{
  display: flex;
  flex-direction: column;
}

.dropdown-list {
  width:100%;
}

.notif-container{
  padding-left:10px;
  background:white;
  margin-top:2px;
  width:fit-content;
}

.notif-img {
  width:100%;
  height:57px;
}

.notif {
  background-color: white;
}

.notif > p {
  margin-bottom: 0;
  padding: 7px 10px;
  
}

.notif-button {
  width: 100%;
  border: none;

}

.notif-button > button > p {
  color: #212529;
}

.notif-button > button {
  border: none;
  width: 100%;
  font-size: 14px;
  margin: 0;
  background-color: white;
}

.notif-button > button > p {
 margin-bottom: 0%;
 padding: 2px;
}
/* carousel */

.slider-button {
  padding: 6px 22px;
  border-radius: 2px !important;
}

/* Responsive adjustments */


@media screen and (max-width:1025px) {
  .image-grid {
    --num-cols:1;
    --row-height:200px;
  }

  .main-card {
    flex-direction: column;
  }

  .body-title {
    padding-bottom: 0;
  }
   /* lawnslot */
  .card-body {
    padding-top: 0;
    padding-left: 25px;
  }

  .body-img {
    padding-bottom: 0;
  }

  .body-title {
    width: 95%;
  }

  .line {
    height: 2px;
    width: 350px;
  }
}


@media (max-width: 768px) {
  .header {
    padding: 5px !important;
  }
  .icons {
    font-size: 30px;
  }
  .nav-link {
      font-size: 20px;
      padding: 0;
  }
  .navbar-toggler {
    padding: 0;
    margin: 0;
  }

 
  .img-container img {
    height: 50px;
    width: 50px
  }
  .header-title, .header-subtitle, .footer-title, .footer-subtitle {
      font-size: 15px;
  }
  .carousel-item 
  {
    position: relative;
    height: 20vh;
    overflow: hidden;
  }

  .carousel-item img 
  {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    width: auto;
    filter: opacity(60%);
  }
  .footer {
      padding: 0.5rem 0;
  }
  .footer::before {
      background: rgba(255, 255, 255, 0.5);
  }
  .icon {
      font-size: 20px;
  }
  .centered-image {
      height: auto;
  }
   /* lawnslot adjustment */
  .image-grid {
    display: flex;
    flex-direction: column;
  }

  .slider-container {
    width: 430px;
  }

  .card-text {
    margin-bottom:20px !important;
  }

  .top {
    padding:25px 35px;
    margin-bottom: 15px;
    margin-top: 20;
  }

  
}


@media (min-width: 769px) and (max-width: 1024px) {
  .nav-link {
      font-size: 15px;
      padding: 0;
  }
  .header-title, .header-subtitle, .footer-title, .footer-subtitle {
      font-size: 22px;
  }
    .carousel-item 
  {
      position: relative;
      height: 30vh;
      overflow: hidden;
  }

  .carousel-item img 
  {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 100%;
      width: auto;
      filter: opacity(60%);
  }

  .carousel-caption 
  {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  .carousel-caption p
  {
      color: white;
      font-size: 60px;
  }
  .footer {
      padding: 0.75rem 0;
  }
  .icon {
      font-size: 24px;
  }
}

@media (min-width: 1025px) {
  .nav-link {
      font-size: 20px;
  }
  .header-title, .header-subtitle, .footer-title, .footer-subtitle {
      font-size: 26px;
  }
  .carousel-item 
  {
      position: relative;
      height: 30vh;
      overflow: hidden;
  }

  .carousel-item img 
  {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 100%;
      width: auto;
      filter: opacity(60%);
  }

  .carousel-caption 
  {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  .carousel-caption p
  {
      color: white;
      font-size: 70px;
  }
  .footer {
      padding: 1rem 0;
  }
  .icon {
      font-size: 28px;
  }
}

@media (max-width: 1200px) {

  .card-text {
    margin-bottom: 0;
    text-align: left;
  }
}

@media (max-width: 480px) {

  .line {
    width: 200px;
    height: 1px;
  }

  .body-title {
    font-size: 1.6rem;
  }

  .row .top p {
    font-size: 22px;
    line-height: 26px;
    text-align:justify;
    margin-bottom: 0;
  }

  .top {
    padding: 20px 30px;
  }
}